# Prerequisites
*.d
.DS_Store
Thumbs.db
Thumbs.db:encryptable
*/bin/*
*/obj/*
*/log/*
*/packages/*
*/lib/*
*/node_modules/*
*/PublishProfile/*
*.userprefs
*.csproj.user
*.xproj.user
*.suo
*.sln.iml
*.log
*.csv
.vs
.idea
.idea.*
.vscode
appsettings.config
project.lock.json
bin
obj
build
artifacts
TestResult.xml
packages
lib
node_modules
web.config
launchSettings.json
*.nuget.props
.python-version
*.zip

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
